body{ 
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(#fff, #d3d8e8);
    height: 780px;   
}
.header{
    background-color: rgb(59, 89, 152);
    height: 12.2%;
    width: 100%;
    font-family: tahoma;
    border: 1px solid darkblue;
}
.fb{
    font-size: 38px;
    position: absolute;
    left: 10%;
    color: #fff;
    top: 3.5%;
    font-weight: bold;
}
.conex{
    float: right;
    color: #fff;
    font-size: 13px;
    margin-top: 12px;
    margin-right: 7%;
}
.btn{
    background-color: #4267b2;
    height: 22px;
    color: #fff;
    border: 1px solid darkblue;
    border-radius: 2px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}
.mdpo{
    color: #9cb4d8;
    text-decoration: none;
    position: relative;
}
section{
    display: flex;
    justify-content: space-between;
}
.conect{
    color: rgb (14, 56, 95);
    font-size: 35px;
    font-weight: bold;
    width: 500px;
    word-spacing: -1;
    display: block;
    position: relative;
    /* left: 180px; */
    margin-top: 50px;
}
.left{
    margin-left: 10%;
}
.right{
    margin-right: 15%;
}
h3{
    font-weight: bold;
    font-size: 34px;
}
.share{
    margin-top: 60px;
    height: 250px;
    display: grid;
    align-self: center;
}
h5{
    color: #707275;
    font-size: 15px;
}
p{
    position: relative;
    bottom: 20px;
}
button{
    background: linear-gradient(lightgreen, green);
    height: 35px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid;
    color: white;
}
button:hover{
    cursor: pointer;
}
@media screen and (max-width: 940px) {
    .conex form table tr td input{
        width: 70px;
    }
    .fb{
        font-size: 20px;
        position: absolute;
        left: 10%;
        color: #fff;
        top: 3.5%;
        font-weight: bold;
    }
    .conect{
        left: 10%;
        width: 100%;
        font-size: 20px;
    }
    .left{
        margin-left: 0%;
    }
    .right{
        margin-right: 0%;
    }
    .conect{
        color: rgb (14, 56, 95);
        font-size: 20px;
        font-weight: bold;
        width: 300px;
        word-spacing: -1;
        display: block;
        position: relative;
        /* left: 180px; */
        margin-top: 50px;
    }
}
@media screen and (max-width: 412px) {
    body{
        height: 1200px;
    }
    section{
        display: grid;
        justify-content: center;
    }
    .conex{
        float: right;
        color: #fff;
        font-size: 10px;
        margin-top: 12px;
        margin-right: 2%;
    }
}